.header{
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 35px;
    }
    &__theme-swither{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
    }
    &__theme-swither_dark > svg path{
        fill: #fff;
    }
}
